*{
    margin: 0;
    padding: 0;
}

header{
    padding: 5vh;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 5vh;

}

nav>ul>li{
    display: flex;
    justify-content: center;
    gap: 15vh;
}

.headerNav{
    display: flex;
    justify-content: center;

    gap: 15vh;
}

.headerInputPoisk {
    display: flex;
    justify-content: center;
    gap: 5vh;
}


.formCiti{
    display: flex;
    justify-content: center;
}


.StrochaSverhy{
    width: 100%;
    height: 8vh;
    background-color: rgb(233, 131, 229);
    color: aliceblue;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;

    font-size: 24px;
}

.textGood{
padding: 10vh;
width: 35%;
transition: 1s;

}

.textGood:hover{
  padding: 11vh;

  transition: 1s;

}

.blockText{
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    height: 50vh;
    margin-bottom: 20vh;
}


  .swiper {
    margin-top: 10vh;
    margin: 5vh;
    width: 100%;
    height: 90vh;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .autoplay-progress {
    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: 10;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: var(--swiper-theme-color);
  }

  .autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    stroke: var(--swiper-theme-color);
    fill: none;
    stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
  }


  footer{
    padding: 20vh;
    height: 10vh;
    background-color: rgb(20, 20, 20);
    display: flex;
    justify-content: center;
  }

  .Posi_close1{
    display: flex;
    justify-content: end;
}

  dialog{
    height: 60vh;
    width: 60vh;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    border: none;
    border-radius: 2rem;
    padding: 15px;
    outline: none;
    z-index: 2;
text-align:center ;

border: 5px solid rgb(233, 131, 229);
  }

  .dialogSec{
    padding: 1vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
  }

  .artPoz{
    display: flex;
    flex-direction: column;
  }

  .modal-open {
    overflow: hidden;
    }

.tovarCarz{
  border: 2px solid rgb(0, 0, 0);
  width: 35vh;
  display: flex;
  flex-direction: column;
  gap: 1vh;
  border-radius: 2vh;
  padding: 2vh;
  transition: 1s;

}

.tovarCarz:hover{
  border: 2px solid rgb(233, 131, 229);
  width: 40vh;
  transition: 2s;
}


.tovarNew{
  padding: 5vh;
  display: flex;
  justify-content: center;
  gap: 10vh;
}

.BloclTovarNew{
  padding: 0.5vh;
}

.BtnTovarNew{
  display: flex;
  gap: 1vh;
}

img{
  display: flex;
  justify-content: center;
}

#NewTovar{
  padding: 5vh;
}

#CatalagTovar{
  text-align: center;
  padding: 9vh;
  font-size: 46px;
}


.blockImgDirivili>img{
  height: 150px;
  width: 200px;
  gap: 15vh;
}

.blockImgDirivili{
  display: flex;
  gap: 15vh;


}

.DiriviliBlock{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#Dirivili{
  padding: 10vh;
  padding-top: 10vh;
}



.dialogSec>a{
  font-size: 12px;
}

.dialogSec>a:hover{
  font-size: 12px;
}