@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

h1{
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;

    font-size: 36px;
}

a{
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  
    font-size: 24px;
    transition: 1s;
    text-decoration: none;
}

a:hover{
    color: blue;
    font-size: 26px;
    transition: 1s;
}

li{
    list-style-type:none;
}

P{
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;

    font-size: 24px;
}